[package]
name = "dash-mpd"
version = "0.14.6"
authors = ["Eric Marsden <eric.marsden@risk-engineering.org>"]
description = "Parse, serialize, download an MPD manifest for MPEG-DASH or WebM-DASH media streaming"
readme = "README.md"
repository = "https://github.com/emarsden/dash-mpd-rs"
license = "MIT"
keywords = ["video", "streaming", "MPD", "DASH", "MPEG"]
categories = ["multimedia", "multimedia::video", "parser-implementations"]
publish = true
edition = "2021"

[dependencies]
base64 = "0.21.5"
base64-serde = "0.7.0"
serde = { version = "1.0.193", features = ["derive"] }
serde_path_to_error = "0.1.14"
serde_ignored = { version = "0.1.9", optional = true }
serde_with = { version = "3.4.0", features = ["base64"] }
quick-xml = { version = "0.31.0", features = ["serialize", "overlapped-lists"] }
url = "2.5.0"
chrono = { version = "0.4.31", features = ["serde"] }
num-traits = "0.2.17"
iso8601 = "0.6.1"
regex = "1.10.2"
thiserror = "1.0.50"
fs-err = "2.11.0"
tracing = "0.1.40"
data-url = { version = "0.3.1", optional = true }
reqwest = { version = "0.11.22", default-features = false, optional = true }
tokio = { version = "1.35.0", features = ["rt-multi-thread", "time", "macros"] }
backoff = { version = "0.4.0", features = ["tokio"], optional = true }
governor = { version = "0.6.0", optional = true }
xmltree = { version = "0.10.3", optional = true }
async-recursion = { version = "1.0.5", optional = true }
tempfile = { version = "3.8.1", optional = true }
sanitise-file-name = { version = "1.0.0", optional = true }
colored = { version = "2.0.4", optional = true }
ac-ffmpeg = { version = "0.18.1", optional = true }
ffprobe = { version = "0.3.3", optional = true }
file-format = { version = "0.23.0", features = ["reader"], optional = true }
bstr = { version = "1.8.0", optional = true }
hex-literal = { version = "0.4.1", optional = true }

[dev-dependencies]
env_logger = "0.10.0"
sha2 = "0.10.7"
hex-literal = "0.4.1"
colored = "2.0.4"
indicatif = "0.17.7"
clap = "4.3.24"
tokio = { version = "1.35.0", features = ["rt-multi-thread", "time", "macros"] }
tracing-subscriber = { version = "0.3", features = ["env-filter", "time"] }
test-log = "0.2.14"
axum = "0.6.20"
axum-server = { version = "0.5.1" }
axum-auth = "0.4.1"
anyhow = "1.0.75"
roxmltree = "0.19.0"
xmlem = "0.2.3"
json = "0.12.4"
mp4 = "0.14.0"
image = "0.24.7"

[features]
default = ["fetch", "native-tls", "compression", "socks", "scte35"]
fetch = ["data-url", "reqwest", "backoff", "governor", "xmltree", "async-recursion", "tempfile", "sanitise-file-name", "ffprobe", "file-format", "colored", "bstr", "hex-literal"]
libav = ["ac-ffmpeg"]
scte35 = []
warn_ignored_elements = ["serde_ignored"]
compression = ["reqwest/gzip"]
socks = ["reqwest/socks"]
native-tls = ["reqwest/native-tls"]
rustls-tls = ["reqwest/rustls-tls"]
trust-dns = ["reqwest/trust-dns"]

[target.'cfg(unix)'.dependencies]
xattr = "1.1.3"
