[package]
name = "dash-mpd"
version = "0.7.3"
authors = ["Eric Marsden <eric.marsden@risk-engineering.org>"]
description = "Parse, serialize, download an MPD manifest for MPEG-DASH or WebM-DASH media streaming"
readme = "README.md"
repository = "https://github.com/emarsden/dash-mpd-rs"
license = "MIT"
keywords = ["video", "streaming", "MPD", "DASH", "MPEG"]
categories = ["multimedia", "multimedia::video", "parser-implementations"]
publish = true
edition = "2021"

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_with = "2"
quick-xml = { version = "0.28", features = ["serialize"] }
chrono = { version = ">=0.4.20", features = ["serde"] }
num-traits = "0.2"
iso8601 = "0.6"
regex = ">=1.5.5"
thiserror = "1"
fs-err = "2.9"
log = "0.4"
url = { version = "2", optional = true }
data-url = { version = "0.2", optional = true }
reqwest = { version = "0.11", default-features = false, optional = true }
tokio = { version = ">=1.24.2", features = ["rt-multi-thread", "time"] }
backoff = { version = "0.4", features = ["tokio"], optional = true }
tempfile = { version = "3", optional = true }
sanitise-file-name = { version = "1", optional = true }
ac-ffmpeg = { version = "0.18", optional = true }

[dev-dependencies]
env_logger = "0.10"
ffprobe = "0.3"
sha2 = "0.10"
hex-literal = "0.4"
colored = "2"
indicatif = "0.17"
clap = "4"
tokio = { version = ">=1.24.2", features = ["rt-multi-thread", "time", "macros"] }
anyhow = "1.0"
roxmltree = "0.18"

[features]
default = ["fetch", "native-tls", "compression", "socks"]
fetch = ["url", "data-url", "reqwest", "backoff", "tempfile", "sanitise-file-name"]
libav = ["ac-ffmpeg"]
compression = ["reqwest/gzip"]
socks = ["reqwest/socks"]
native-tls = ["reqwest/native-tls"]
rustls-tls = ["reqwest/rustls-tls"]
trust-dns = ["reqwest/trust-dns"]

[target.'cfg(unix)'.dependencies]
xattr = "1.0"
