[package]
name = "dash-mpd"
version = "0.15.0"
authors = ["Eric Marsden <eric.marsden@risk-engineering.org>"]
description = "Parse, serialize, download an MPD manifest for MPEG-DASH or WebM-DASH media streaming"
readme = "README.md"
repository = "https://github.com/emarsden/dash-mpd-rs"
license = "MIT"
keywords = ["video", "streaming", "MPD", "DASH", "MPEG"]
categories = ["multimedia", "multimedia::video", "parser-implementations"]
publish = true
edition = "2021"

[dependencies]
base64 = "0.22.0"
base64-serde = "0.7.0"
lazy_static = "1.4.0"
serde = { version = "1.0.197", features = ["derive"] }
serde_path_to_error = "0.1.15"
serde_ignored = { version = "0.1.9", optional = true }
serde_with = { version = "3.6.0", features = ["base64"] }
quick-xml = { version = "0.31.0", features = ["serialize", "overlapped-lists"] }
url = "2.5.0"
chrono = { version = "0.4.35", features = ["serde"] }
num-traits = "0.2.18"
iso8601 = "0.6.1"
regex = "1.10.3"
thiserror = "1.0.57"
fs-err = "2.11.0"
tracing = { version = "0.1.40", features = ["attributes"] }
data-url = { version = "0.3.1", optional = true }
reqwest = { version = "0.11.25", default-features = false, features = ["cookies"], optional = true }
tokio = { version = "1.36.0", features = ["rt-multi-thread", "time", "macros"], optional = true }
backoff = { version = "0.4.0", features = ["tokio"], optional = true }
governor = { version = "0.6.3", optional = true }
xmltree = { version = "0.10.3", optional = true }
async-recursion = { version = "1.0.5", optional = true }
tempfile = { version = "3.10.1", optional = true }
sanitise-file-name = { version = "1.0.0", optional = true }
colored = { version = "2.0.4", optional = true }
ac-ffmpeg = { version = "0.18.1", optional = true }
ffprobe = { version = "0.3.3", optional = true }
file-format = { version = "0.24.0", features = ["reader"], optional = true }
bstr = { version = "1.9.1", optional = true }
hex-literal = { version = "0.4.1", optional = true }
pssh-box = { version = "0.1.5", optional = true }

[dev-dependencies]
sha2 = "0.10.7"
hex-literal = "0.4.1"
colored = "2.0.4"
indicatif = "0.17.8"
# We pin to this version because the latest versions require a bleeding edge Rust toolchain.
clap = "=4.3.24"
tokio = { version = "1.36.0", features = ["rt-multi-thread", "time", "macros"] }
tracing-subscriber = { version = "0.3", features = ["env-filter", "time"] }
test-log = "0.2.15"
axum = "0.6.20"
axum-server = { version = "0.5.1" }
axum-auth = "0.4.1"
anyhow = "1.0.79"
roxmltree = "0.19.0"
xmlem = "0.2.3"
json = "0.12.4"
mp4 = "0.14.0"
image = "0.24.7"
pretty_assertions = "1.4.0"
approx = "0.5.1"

[features]
default = ["fetch", "native-tls", "compression", "socks", "scte35"]
fetch = ["data-url", "reqwest", "tokio", "backoff", "governor", "xmltree", "async-recursion", "tempfile", "sanitise-file-name", "ffprobe", "file-format", "colored", "bstr", "hex-literal", "pssh-box"]
libav = ["ac-ffmpeg"]
scte35 = []
warn_ignored_elements = ["serde_ignored"]
compression = ["reqwest/gzip"]
socks = ["reqwest/socks"]
native-tls = ["reqwest/native-tls"]
rustls-tls = ["reqwest/rustls-tls"]
trust-dns = ["reqwest/trust-dns"]

[target.'cfg(unix)'.dependencies]
xattr = "1.3.1"
